<div>
    <h3>Фильтр</h3>
    <form method="get" ng-submit="filterProduct()">
        <div class="form-group col-md-6">
            <label for="titleInput">Название</label>
            <input class="form-control" ng-model="title" type="text" id="titleInput">
        </div>
        <div class="form-group col-md-6">
            <label for="minPriceInput">Минимальная цена</label>
            <input class="form-control" ng-model="min_price" type="number" id="minPriceInput">
        </div>
        <div class="form-group col-md-6">
            <label for="maxPriceInput">Максимальная цена</label>
            <input class="form-control" ng-model="max_price" type="number" id="maxPriceInput">
        </div>

        <select class="custom-select" >
            <option selected>Выберите тип товара</option>
            <option ng-repeat="t in ProductType" ng-model="type_product" value="{t.id}">{{t.type}}</option>
        </select>

        <button class="btn btn-primary" type="submit">Применить</button>
        <a class="btn btn-primary" href="{/products}">Очистить фильтр</a>
    </form>
    <h3>Товары</h3>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>Название</td>
            <td>Цена</td>
            <td></td>
        </tr>
        <tbody>

        <tr ng-repeat="p in ProductsPage.content">
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td>
                <button class="btn btn-success" ng-click="addToCart(p.id)">Добавить в корзину</button>
            </td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-success" ng-click="fillTable()">Обновить</button>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item" ng-repeat="pageIndex in PaginationArray">
                <a class="page-link" ng-click="fillTable(pageIndex)">{{pageIndex}}</a>
            </li>
        </ul>
    </nav>
</div>