<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>

    <title>Каталог товаров</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <h1>Оформить заказ</h1>

    <br>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Название</th>
            <th>Количество</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="oi : ${@cart.items}">
            <td th:text="${oi.product.name}"></td>
            <td th:text="${oi.quantity}"></td>
            <td th:text="${oi.quantity + ' x ' + oi.pricePerProduct + ' = ' + oi.price}"></td>
        </tr>
        <tr>
            <td></td>
            <td>Итого:</td>
            <td th:text="${@cart.price}"></td>
        </tr>
        </tbody>
    </table>
    <form method="POST" th:action="@{/orders/save_order}">
        <div class="form-group col-md-6">
            <label for="nameInput">Имя</label>
            <input class="form-control" required name="name" th:value="${user.username}" type="text" id="nameInput">
        </div>
        <div class="form-group col-md-6">
            <label for="phoneInput">Телефон</label>
            <input class="form-control" required name="phone" th:value="${user.phoneNumber}" type="tel" id="phoneInput" pattern="[0-9]{11}">
        </div>
        <div class="form-group col-md-6">
            <label for="addressInput">Адрес</label>
            <input class="form-control" required name="address" th:value="${user.address}" type="text" id="addressInput">
        </div>
        <button class="btn btn-primary" type="submit">Оформить</button>
    </form>
</div>

</body>
</html>